body{
    background-color: #d6befa;
}
.landing-page{
    display: flex;
    justify-content: center; /* horizontally or row*/
    align-items: center;
}
.logo, .content{
    display:flex;
}
.button{
    display: flex;
    justify-content: center;  
}
button{
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    border-color: white;
    background-color: white;
}
p{
  font-size: 56px;
}